*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.border-container{
    border: 1px solid lightgray;
    width: 60rem;
    height: 40rem;
    margin-top: 3rem;
    margin-left: 4rem;
    /* background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    ); */
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: background-color-change;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
}
.content-container{
    width: 98%;
    height: 98%;
    background-color: white;
    margin: 0.5rem;
}

@keyframes background-color-change{
    0%{
        background-color: rgb(255, 0, 0, 1) ;
    }
    10%{
        background-color: rgb(255, 154, 0, 1) ;
    }
    20%{
        background-color: rgb(208, 222, 33, 1) ;
    }
    30%{
        background-color: rgb(79, 220, 74, 1) ;
    }
    40%{
        background-color: rgb(63, 218, 216, 1) ;
    }
    50%{
        background-color: rgb(47, 201, 226, 1) ;
    }
    60%{
        background-color: rgb(28, 127, 238, 1) ;
    }
    70%{
        background-color: rgb(95, 21, 242, 1) ;
    }
    80%{
        background-color: rgb(186, 12, 248, 1) ;
    }
    90%{
        background-color: rgb(251, 7, 217, 1) ;
    }
    100%{
        background-color: rgb(255, 0, 0, 1) ;
    }
}