@import "tailwindcss";
body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold ;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  transition: all;
  transition-timing-function: ease-in-out ;
}

.btn{
  @apply border-2 border-gray-300 px-4 lg:px-8 py-2 lg:py-4 rounded-2xl bg-cyan-400 text-white text-lg lg:text-2xl font-bold hover:opacity-80 cursor-pointer transition-all ease-in-out flex gap-2 justify-center items-center
}